html, body{
    margin: 0;
    padding: 0;
}
.main-footer, .main-header{
    background-color: #377c2b !important;
    color: #fff !important;
}
.brand-link{
    background-color: #fbdd26 !important;
    color: #000 !important;
}
.readonly{
    background-color: #552f2f !important;
}